__pycache__/
*.pyc
logs/
XuanShuData/
XuanShu-Testconfig.ini
venv
*.exe
testbot.txt
*.spec
!XuanShu.spec
!XuanShu.spec
build/
dist/
outputs/
*.env
.secret/*
.secret
.secrets
*.lock
!.gitignore
.*
target/
